.student-row{
    background: #39423e13;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #39423e;
}

.avatar{
    flex: 0.5;
}
.name{
    flex: 2;
    text-align: start;
}
.classes-number{
    flex: 1;

}
.actions{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.student-expanded-row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1.5fr));
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff70;
    border-radius: 1rem;
}