.class-item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.class-item:hover{
    border: 1px solid #39423e;
}
.class-item-title{
    color: black;
}

.remove-class-button {
    right: 8px;
}